/ {
	i2c@7000c700 {
		atmel_mxt_ts@4a {
			compatible = "atmel,maxtouch-ts";
			status = "okay";
			reg = <0x4a>;

			interrupt-parent = <&gpio>;
			interrupts = <143 0x2008>;
			atmel,irq-flags = <0x2008>;
			atmel,reset-gpio = <&gpio 84 0x2008>;
			atmel,irq-gpio = <&gpio 143 0x2008>;
			atmel,gpio-mask = <0xc>;
			atmel,vendor-info = <0x03eb>;
			atmel,product-info = <0x214f>;
			atmel,config-array-size = <3>;

			atmel,cfg_1 {
				atmel,family-id = <0xA4>;
				atmel,variant-id = <0x04>;
				atmel,version = <0x10>;
				atmel,build = <0xAA>;
				atmel,user-id = <0x00>;
				atmel,bootldr-id = <0x48>;
				atmel,mxt-cfg-name = "atmel/mxt1664t_config_no_dummy.fw";
				atmel,vendor-id = <0x4>;
				atmel,mxt-fw-name = "atmel/mxt1664t.fw";
				atmel,key-codes = <158 102 139>;
			};
			atmel,cfg_2 {
				atmel,family-id = <0xA4>;
				atmel,variant-id = <0x04>;
				atmel,version = <0x10>;
				atmel,build = <0xAA>;
				atmel,user-id = <0xAA>;
				atmel,bootldr-id = <0x48>;
				atmel,mxt-cfg-name = "atmel/mxt1664t_config_with_dummy.fw";
				atmel,vendor-id = <0x4>;
				atmel,mxt-fw-name = "atmel/mxt1664t.fw";
				atmel,key-codes = <158 102 139>;
			};
			atmel,cfg_3 {
				atmel,family-id = <0xA4>;
				atmel,variant-id = <0x0B>;
				atmel,version = <0x12>;
				atmel,build = <0xAA>;
				atmel,user-id = <0x00>;
				atmel,bootldr-id = <0x51>;
				atmel,mxt-cfg-name = "atmel/mxt1066t_config.fw";
				atmel,vendor-id = <0x4>;
				atmel,mxt-fw-name = "atmel/mxt1066t.fw";
				atmel,key-codes = <139 102 158>;
			};
		};
		synaptics_dsi_i2c@20 {
			compatible = "synaptics,dsx-i2c";
			status = "okay";
			reg = <0x20>;
			
			interrupt-parent = <&gpio>;
			interrupts = <143 0x2008>;
			synaptics,irq-gpio = <&gpio 143 0x2008>;
			synaptics,reset-gpio = <&gpio 84 0x2008>;
			synaptics,irq-on-state = <0>;
			synaptics,power-on-state = <1>;
			synaptics,reset-on-state = <0>;
			synaptics,power-delay-ms = <160>;
			synaptics,reset-delay-ms = <100>;
			synaptics,reset-active-ms = <20>;
			synaptics,pwr-reg-name = "vdd-touch";
			synaptics,cap-button-map = <139 102 158 116>;
		};
	};
};
